extends ../../../views/stream

block seo-metadata
	- var title = 'All Books | Books'
	- var description = 'A list of all books'

block stream-vars
	- var streamTitle = 'Books'

block stream-item
		include ./stream-item
