extends layout

block content
	block stream-vars
	h1 #{streamTitle}

	div#stream
		div.stream-blocks
			- for (var i = 0; i < items.length; i += 6)
					div.stream-block

						if (i + 5 < items.length)
							- var total = i + 5
						else
							- var total = items.length

						- for (var j = 0; j < total; j++)

							div(class="item-#{j}")

								- var item = items[j]

								block stream-item
